@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: #f2f2f2;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu{
    float: right;
}

.nav-logo{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    align-items: center;
}

.nav-item{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.container-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    grid-template-areas:
        'a b c'
        'g h i'
        'd e f'
}

.box{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;
}
.f{
    grid-area: f;
}
.g{
    grid-area: g;
}
.h{
    grid-area: h;
}
.i{
    grid-area: i;
}

footer{
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}